<a href="{% url 'erp:home' %}"><i class="fa-solid fa-house"></i> Übersicht</a>
<a href="{% url 'erp:customers' %}"><i class="fa-solid fa-users"></i> Kunden</a>
<a href="{% url 'erp:quotes' %}"><i class="fa-solid fa-file-lines"></i> Angebote</a>
<a href="{% url 'erp:confirmations' %}"><i class="fa-solid fa-file-signature"></i> Auftragsbestätigungen</a>
<a href="{% url 'erp:salesorders' %}"><i class="fa-solid fa-clipboard-list"></i> Aufträge</a>
<a href="{% url 'erp:invoices' %}"><i class="fa-solid fa-file-invoice"></i> Rechnungen</a>
<a href="{% url 'erp:dunning' %}"><i class="fa-solid fa-triangle-exclamation"></i> Mahnwesen</a>
<a href="{% url 'erp:products' %}"><i class="fa-solid fa-box"></i> Produkte</a>
<a href="{% url 'erp:services' %}"><i class="fa-solid fa-screwdriver-wrench"></i> Services</a>
<a href="{% url 'erp:workorders' %}"><i class="fa-solid fa-helmet-safety"></i> Work Orders</a>
<a href="{% url 'erp:stockreceipts' %}"><i class="fa-solid fa-warehouse"></i> Wareneingang</a>
<a href="{% url 'erp:courses' %}"><i class="fa-solid fa-graduation-cap"></i> Veranstaltung</a>
<a href="{% url 'erp:plugins' %}"><i class="fa-solid fa-plug"></i> Plugins</a>
<a href="{% url 'erp:pricing_help' %}"><i class="fa-solid fa-euro-sign"></i> Pricing</a>
<a href="{% url 'erp:help' %}"><i class="fa-regular fa-circle-question"></i> Hilfe</a>

