<a href="{% url 'crm:home' %}"><i class="fa-solid fa-house"></i> Ãœbersicht</a>
<a href="{% url 'crm:account_list' %}"><i class="fa-solid fa-building"></i> Accounts</a>
<a href="{% url 'crm:lead_list' %}"><i class="fa-solid fa-user-plus"></i> Leads</a>
<a href="{% url 'crm:opportunity_list' %}"><i class="fa-solid fa-chart-line"></i> Opportunities</a>
<a href="{% url 'crm:opportunity_board' %}"><i class="fa-solid fa-bars-progress"></i> Pipeline</a>
<a href="{% url 'crm:help' %}"><i class="fa-regular fa-circle-question"></i> Hilfe</a>
{% if can_edit %}
<a href="{% url 'crm:email_template_list' %}"><i class="fa-solid fa-envelope"></i> E-Mail Templates</a>
<a href="{% url 'crm:lead_sources' %}"><i class="fa-solid fa-bullseye"></i> Lead-Quellen</a>
<a href="{% url 'crm:lead_staging' %}"><i class="fa-solid fa-layer-group"></i> Lead-Staging</a>
{% endif %}

